.app-table-list .arco-table-td {
  padding: 6px;
}
.app-table-list .app-table-list-footer {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-table-list .app-table-list-footer .arco-btn {
  width: 100%;
}
.app-table-list tr.drop-over-downward td {
  border-bottom: 2px dashed rgb(var(--primary-6)) !important;
}
.app-table-list tr.drop-over-upward td {
  border-top: 2px dashed rgb(var(--primary-6)) !important;
}
.app-table-list .arco-table-tbody > tr > td {
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}
