.widgets-panel {
  background-color: var(--color-menu-light-bg);
  color: var(--color-neutral-10);
  height: 100%;
  width: 100%;
  min-width: 280px;
  overflow: auto;
}
.widgets-panel .widgets-panel-body {
  height: fit-content;
  overflow: auto;
  padding: 12px;
}

.widgets-panel-body-btns{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.widgets-panel .widgets-panel-body .arco-btn {
  width: 128px;
  height: 38px;
}
.widgets-panel .widgets-panel-body .arco-btn:hover {
  cursor: move;
}
