.form-canvas,
.form-canvas-preview {
  height: 100%;
  width: 100%;
  background-color: var(--color-menu-light-bg);
  user-select: none;
  overflow: auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.form-canvas .form-canvas-mask,
.form-canvas-preview .form-canvas-mask {
  background-color: #c7dcf14b;
  width: 100%;
  height: 100%;
  position: absolute;
}
.form-canvas .arco-card-extra .arco-btn,
.form-canvas-preview .arco-card-extra .arco-btn {
  margin-right: 8px;
}
.form-canvas .form-canvas-card-box,
.form-canvas-preview .form-canvas-card-box {
  height: 100%;
  border: none;
}
.form-canvas .form-canvas-card-box .arco-card,
.form-canvas-preview .form-canvas-card-box .arco-card {
  height: 100%;
}
.form-canvas .form-canvas-card-box .arco-card-bordered,
.form-canvas-preview .form-canvas-card-box .arco-card-bordered {
  height: fit-content;
}
.form-canvas .form-canvas-card-box .arco-card-head,
.form-canvas-preview .form-canvas-card-box .arco-card-head {
  min-height: 30px;
}
.form-canvas .form-canvas-card-box .arco-card-body,
.form-canvas-preview .form-canvas-card-box .arco-card-body {
  height: calc(100% - 101px);
  overflow: auto;
}
.form-canvas .form-canvas-card-box .arco-card-head-title,
.form-canvas-preview .form-canvas-card-box .arco-card-head-title {
  padding: 10px 0;
}
.form-canvas .arco-form-item,
.form-canvas-preview .arco-form-item {
  transition: 0.3s;
  border: 1px solid var(--color-menu-light-bg);
  pointer-events: none;
}
.form-canvas .form-canvas-empty,
.form-canvas-preview .form-canvas-empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form-canvas .shine-grid-1,
.form-canvas-preview .shine-grid-1,
.form-canvas .shine-grid-2,
.form-canvas-preview .shine-grid-2,
.form-canvas .shine-grid-3,
.form-canvas-preview .shine-grid-3 {
  height: fit-content;
}
.form-canvas .shine-grid-1 .drag-container,
.form-canvas-preview .shine-grid-1 .drag-container,
.form-canvas .shine-grid-2 .drag-container,
.form-canvas-preview .shine-grid-2 .drag-container,
.form-canvas .shine-grid-3 .drag-container,
.form-canvas-preview .shine-grid-3 .drag-container {
  min-height: 80px;
}
.form-canvas-preview .arco-form-item {
  pointer-events: visible;
}
.drag-container {
  position: relative;
  border: 1px dashed rgb(var(--primary-6));
  padding: 20px 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;
  cursor: pointer;
}
.drag-container:hover {
  border: 1px dashed rgb(var(--primary-6)) !important;
}
.drag-container .drag-container-key {
  position: absolute;
  top: 2px;
  right: 4px;
  color: rgb(var(--primary-6));
  font-size: 12px;
}
.drag-container .drag-container-drag {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: move;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(var(--primary-6));
  color: var(--color-menu-light-bg);
}
.drag-container .drag-container-tools {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(var(--primary-6));
  color: var(--color-menu-light-bg);
  cursor: pointer;
  z-index: 99;
  border-top-left-radius: 8px;
}
.drag-container .drag-container-tools .spicon-copy {
  cursor: copy;
}
